.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

h1 {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

.autocomplete {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.autocomplete div {
  padding: 5px 10px;
  cursor: pointer;
}

.user-details {
  margin-top: 30px;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.recent-posts div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.recent-posts img {
  max-width: 100%;
  margin-top: 10px;
}
.user-info{
  margin-left: 35px;
}
.name{
  font-family: system-ui;
  font-weight: 400;
}