<div class="container">
  <h1>Instagram User Search</h1>
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="onSearchInput()"
    placeholder="Search for Instagram users..."
  />
  <div class="autocomplete" *ngIf="showAutocomplete">
    <div *ngFor="let user of autocompleteUsers" (click)="onAutocompleteSelect(user)" class="dropdown">
      <div class="profile-pic" style="display: flex;">
        <img style="width: 40px; height: 40px; margin-right: 12px; margin-bottom: 0px;" [src]="user.picture" alt="Profile Pic"/>
        {{ user.username }}
      </div>
    </div>
  </div>

  <div class="loader" *ngIf="isLoading">
    Loading...
  </div>

  <div *ngIf="selectedUser" class="user-details" style="width: 30%;">
    <div style="display: flex">
      <div class="profile-pic">
        <img [src]="selectedUser.picture" alt="Profile Pic" />
      </div>
      <div class="user-info">
        <div style="display: flex;">
        <h2 style="margin-top: 0px;margin-right: 12px;">{{ selectedUser.fullname }}</h2>
        <span *ngIf="selectedUser.is_verified">
          <img style="width: 20px;" src="assets/verfi.png" alt="Verified Icon" />
        </span>
      </div>
        <div style="display: flex; justify-content: space-between; width: 150%;">
          <p>Posts {{ selectedUser.followers_count }}</p>
          <p> <strong>{{ selectedUser.followers }}</strong>  Followers</p>
          <p>Following {{ selectedUser.followers_count }}</p>
        </div>
        <h3 class="name">{{ selectedUser.username }}</h3>
      </div>
    </div>
    <div class="recent-posts">
      <h3>Recent Posts</h3>
      <div *ngFor="let post of selectedUser.recent_posts">
        <p>Post Type: {{ post.post_type }}</p>
        <p>Likes: {{ post.likes_count }}</p>
        <p>Comments: {{ post.comments_count }}</p>
        <p>Views: {{ post.views_count }}</p>
        <a [href]="post.post_link" target="_blank">Post Link</a>
        <img [src]="post.image_url" alt="Post Image" />
      </div>
    </div>
  </div>
</div>
